@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    --body-bg-color: #161616;
    --nav-bg-color: #121212;
    --nav-text-color: white;
    --button-bg-color: #0052ce;
    --button-text-color: white;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-bg-color);
}

a {
    text-decoration: none;
    color: var(--nav-text-color);
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.6rem;
    background-color: var(--button-bg-color);
    border-radius: .8rem;
    color: var(--button-text-color);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
    height: 6rem;
    padding: 0 2.4rem;
}

ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    align-items: center;
}